$darkblue: #19315e;
$textdarkblue: #0F1936;
$textblue: #29466D;
$red: #dc1c16;
$orange: #ff4d00;
$textgrey: #8F939D;
$linegrey: #D7DEEA;
$checkboxblue: #6898D9;
$input-placeholder-color: $textgrey;
$scroll: #91AACB;
$scroll-bg: #E2ECFF;
$star: #FFBD12;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$custom-theme-colors: (
  "darkblue": $darkblue,
  "red": $red,
  "orange": $orange,
  "textgrey": $textgrey,
  "textblue": $textblue,
  "textdarkblue": $textdarkblue,
  "linegrey": $linegrey,
  "checkboxblue": $checkboxblue,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

$spacer: 1rem / 16;
$spacers: (
  0: 0,
);

@for $i from -10 through 40 {
  $spacers: map-merge(
    $spacers,
    (
      $i: (
        // increase by 5 times of $spacer (1rem / 16)
        $i * 5 * $spacer,
      ),
    )
  );
}

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

$fs-increase: 1.1;
$fs-decrease: 0.9;

$font-sizes: (
  0: $h1-font-size * 2,
  1-xxl: $h1-font-size * 1.5,
  1-xl: $h1-font-size * 1.25,
  1-lg: $h1-font-size * $fs-increase,
  1: $h1-font-size,
  1-sm: $h1-font-size * $fs-decrease,
  2-lg: $h2-font-size * $fs-increase,
  2: $h2-font-size,
  2-sm: $h2-font-size * $fs-decrease,
  3-lg: $h3-font-size * $fs-increase,
  3: $h3-font-size,
  3-sm: $h3-font-size * $fs-decrease,
  4-lg: $h4-font-size * $fs-increase,
  4: $h4-font-size,
  4-sm: $h4-font-size * $fs-decrease,
  5-lg: $h5-font-size * $fs-increase,
  5: $h5-font-size,
  5-sm: $h5-font-size * $fs-decrease,
  6-lg: $h6-font-size * $fs-increase,
  6: $h6-font-size,
  6-sm: $h6-font-size * $fs-decrease,
  6-xs: $h6-font-size * 0.8,
);

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
 
// custom vh-x and vw-x
$custom-utilities: (
  "width":
    map-merge(
      map-get($utilities, "viewport-width"),
      (
        values:
          map-merge(
            map-get(map-get($utilities, "viewport-width"), "values"),
            (
              25: 25vw,
              50: 50vw,
              75: 75vw,
            )
          ),
      )
    ),
  "height":
    map-merge(
      map-get($utilities, "viewport-height"),
      (
        values:
          map-merge(
            map-get(map-get($utilities, "viewport-height"), "values"),
            (
              25: 25vh,
              50: 50vh,
              75: 75vh,
            )
          ),
      )
    ),
);

@each $color, $value in $theme-colors {
  .hover-#{$color}:hover {
    color: $value !important
  }
}

$utilities: map-merge($utilities, $custom-utilities);

@import "~bootstrap/scss/bootstrap";

// let 0 to override not 0 attribute
@for $i from 10 through 0 {
  .text-indent-#{$i} {
    text-indent: $i * .1rem;
  }

  .letter-spacing-#{$i} {
    letter-spacing: $i * .1rem;
  }
}
