$primary: #0d3089; // bg/dark/light
$secondary: #ea3c7d; // pink
$popup: #020c33; // bg/popup
$light: #f8fbff; // bg/light
$border: #c4cedb; // line/light
$main: #77a7ce; // logo/main
$sup: #b2b2b2; // logo/sup
$placeholder: #d9d9d9; // main/placeholder
$text: #434342; // main/text
// $support: #4966EF; // sup
$support: #499fef; // sup
$highline: #d9bf92; // highline
$highlight: #ffa000; // highlight
$yellowlight: #fffdf8; // bg/yellow_light
$dark: #4e5570; // white/40 - rgba(255, 255, 255, 0.40);
$white: #ffffff; // line/dark
$black: #000000;
$gray: #020c334d; // bg/dark/30
$brown: #d9bf92; // bg/dark/30
$green: #11bf8b; // bg/dark/30
$scroll: #dee8f4; // bg-scroll
$none: transparent; // bg/dark/30
$red: #dc3545; // bg/dark/30
// $none: transparent;

/* make the customizations */
$theme-colors: (
//   "primary": $primary,
  "secondary": $secondary,
  "main": $main,
  "popup": $popup,
  "light": $light,
  "border": $border,
  "sup": $sup,
  "placeholder": $placeholder,
  "text": $text,
  "support": $support,
  "highline": $highline,
  "highlight": $highlight,
  "yellowlight": $yellowlight,
  "dark": $dark,
  "white": $white,
  "black": $black,
  "gray": $gray,
  "brown": $brown,
  "green": $green,
  "scroll": $scroll,
  "none": $none,
  "red": $red,
);

// * Font Color Setting
$body-color: $text;

// * Breakpoints 設定
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// * Container
// $padding-x: 0;

// * Spacer Setting
// $spacer: 1rem;
$spacer: 1rem / 16 !default;
$spacers: (
  0: 0,
);
// Notice: 以 5 為倍數增加 ex: m-20 => 100px; m--10 => margin: -50px;
@for $i from -10 through 40 {
  $s: $i * 5;
  $spacers: map-merge(
    $spacers,
    (
      $i: (
        $s * $spacer,
      ),
    )
  );
}

// * Border
$border-color: $border;

// * Typo Basic Setting
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
$headings-font-weight: 700;
$headings-line-height: normal;
// * Font Setting
$font-family-base: -apple-system, BlinkMacSystemFont, Noto Sans TC,
  Microsoft JhengHei, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
  serif;

// TODO: 目前無手機版，使用rem設定字體大小讓手機版同步縮小，等確認手機版字體再更改 - 230802 - Rita.Ruo
$font-size-base: 1.25rem !default; // 20px
$font-size-sm: $font-size-base * 0.8 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$h1-font-size: $font-size-base * 2.6 !default;
$h2-font-size: $font-size-base * 2.2 !default;
$h3-font-size: $font-size-base * 1.8 !default;
$h4-font-size: $font-size-base * 1.6 !default;
$h5-font-size: $font-size-base * 1.4 !default;
$h6-font-size: $font-size-base * 1.2 !default;
// $code-font-size:
$small-font-size: $font-size-base * 0.8 !default;

// * Grid Setting
$grid-gutter-width: 20px;

// * Button Setting
$btn-border-radius: 10px;

// * Form Control
$input-btn-padding-y: 15px;
$input-btn-padding-x: 30px;
$input-placeholder-color: $placeholder;
$form-label-margin-bottom: 0.625rem;
// ** Form Check
$form-check-margin-bottom: 1.25rem;
$form-check-inline-margin-end: 3.125rem;

// * Card Setting
// $card-cap-padding-y: 50px;
// $card-cap-padding-x: 50px;
$card-cap-bg: $white;
$card-border-width: 0;
// $card-border-radius: 0.625rem; // 10px;
$card-border-radius: 1.25rem; // 20px;

// * Tab Setting
$nav-link-padding-x: 1.875rem; // 30px
$nav-link-padding-y: 0.675rem; // 10px
// // // $nav-link-color:
$nav-link-color: $white;
$nav-link-hover-color: $white;
$nav-tabs-link-active-color: $text;
$nav-tabs-link-active-bg: $secondary;
// $nav-tabs-link-hover-border-color: $secondary;
$nav-tabs-border-radius: 0.625rem; // 10px
$nav-tabs-border-width: 0;
// $nav-tabs-link-active-border-color: $secondary;

// * List Group Setting
$list-group-item-padding-y: 1.25rem; // 20px
$list-group-border-color: $border;

// * Dropdown Setting
// $dropdown-min-width:                21.875rem;
$dropdown-min-width: 0rem;
$dropdown-padding-x: 1.875rem;
$dropdown-padding-y: 0rem;
// $dropdown-padding-x:                1.875rem;
// $dropdown-padding-y:                1.25rem;
$dropdown-link-active-color: $text;
$dropdown-link-active-bg: $primary;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// * Modal Setting
$modal-sm: 300px;
$modal-md: 600px; // --bs-modal-width
$modal-lg: 960px;
$modal-xl: 1140px;

// * 引入boostrap原生scss檔案
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_variables";
